body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  body {
    font-family: "Sarabun", Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 90%; /* Reduce the table width to 90% of the screen */
    max-width: 1200px; /* Set a maximum width for the table */
    border-collapse: collapse;
    margin: 20px auto; /* Center the table on the page */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  tbody tr:nth-child(-n+5):hover {
    background-color: #add8e6; /* Blue color on hover */
  }
  tbody tr:nth-child(-n+5) {
    background-color: #e6f7ff; /* Light blue color */
  }
  
  /* Adjust the cell sizes for each column */
  /* The first five columns will be smaller, and the last three columns will be wider */
  th:nth-child(-n+5),
  td:nth-child(-n+5) {
    width: 6%; /* Adjust the width as needed */
  }
  
  th:nth-child(6),
  td:nth-child(6),
  th:nth-child(7),
  td:nth-child(7) {
    width: 25%; /* Adjust the width as needed */
  }
  
  th:nth-child(8),
  td:nth-child(8) {
    width: 15%; /* Adjust the width as needed */
  }
